#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#title {
  white-space: nowrap;
  color: #333;
  font-size: 40pt;
  margin-bottom: 4rem;
}

#display {
  padding: 3rem;
  background-color: lightslategray;
  font-size: 18pt;
  border-radius: 1px 1px;
}
.row {
  grid-column: 1 / -1;
}

#calculator-body {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(7, 59, 59);
  border-radius: 1px 1px 20px 20px;
  
}

.calc-buttons {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
}